<div class="background" *ngIf="backHide()"></div>
<div class="main">
    <div class="main__functions">
        <div class="main__functions-all">
            <p changeText textColor="red" textSize="18px">Управление таблицей</p>
        </div>
        <div class="main__functions-score">
            Балл ниже 3 <br>
            <input class="main__functions-score-btn" type="checkbox" id="c" [(ngModel)]="check">
            <label for="c">Посмотреть</label>
        </div>
        <div class="main__functions-search">
            Поиск по фамилии/имени:<br>
            <input size="25" type="text" [(ngModel)]="fname" [(ngModel)]="sname" placeholder="Введите имя/фамилию">
        </div>
        <div class="main__functions-filter">
            Средний бал от: <br>
            <input size="25" type="text" (change)="filterScore()" [(ngModel)]="avg" placeholder="Введите средний балл">
            <br>
        </div>
        <div class="main__functions-filter">
            Дата рождения:<br>
            <input size="25" type="text" (change)="filterDOB()" [(ngModel)]="yearbd"
                placeholder="Введите дату рождения">
        </div>
    </div>
    <table class="main__table" *ngIf="checkAll()">
        <thead class="main__table-header">
            <tr class="main__table-header-row">
                <th class="main__table-header-row-column">
                    <p filterChoose>Фамилия <input type="image" src="https://i.ibb.co/VtjpRKf/drop-down-arrow-2.png"
                            (click)="sort(1)">
                        <input type="image" src="https://i.ibb.co/nCKMYsY/drop-up-arrow-2.png" (click)="sort(2)"></p>
                </th>
                <th class="main__table-header-row-column">
                    <p filterChoose>Имя <input type="image" src="https://i.ibb.co/VtjpRKf/drop-down-arrow-2.png"
                            (click)="sort(3)">
                        <input type="image" src="https://i.ibb.co/nCKMYsY/drop-up-arrow-2.png" (click)="sort(4)"></p>
                </th>
                <th class="main__table-header-row-column">
                    <p filterChoose>Отчество <input type="image" src="https://i.ibb.co/VtjpRKf/drop-down-arrow-2.png"
                            (click)="sort(5)">
                        <input type="image" src="https://i.ibb.co/nCKMYsY/drop-up-arrow-2.png" (click)="sort(6)"></p>
                </th>
                <th class="main__table-header-row-column">
                    <p filterChoose>Дата рождения <input type="image"
                            src="https://i.ibb.co/VtjpRKf/drop-down-arrow-2.png" (click)="sort(7)">
                        <input type="image" src="https://i.ibb.co/nCKMYsY/drop-up-arrow-2.png" (click)="sort(8)"></p>
                </th>
                <th class="main__table-header-row-column">
                    <p filterChoose>Средний балл <input type="image"
                            src="https://i.ibb.co/VtjpRKf/drop-down-arrow-2.png" (click)="sort(9)">
                        <input type="image" src="https://i.ibb.co/nCKMYsY/drop-up-arrow-2.png" (click)="sort(10)"></p>
                </th>
                <th class="main__table-header-row-column">Удаление</th>
                <th class="main__table-header-row-column">Редактирование</th>
                <th class="main__table-header-row-column"></th>
            </tr>
        </thead>
        <tbody class="main__table-content">
            <tr highLight class="main__table-content-row" *ngFor="let stud of students"
                [ngClass]="searchSt(stud.sname, stud.fname) ? 'names' : searchSc(stud.score) ? 'scores' : ''">
                <ng-container *ngIf="filterScoreF(stud.score)">
                    <ng-container *ngIf="filterDOBF(stud.dob)">
                        <td class="main__table-content-row-column">{{stud.sname}}</td>
                        <td class="main__table-content-row-column">{{stud.fname}}</td>
                        <td class="main__table-content-row-column">{{stud.mname}}</td>
                        <td class="main__table-content-row-column">{{formatDate(stud.dob)}}</td>
                        <td class="main__table-content-row-column">{{stud.score | perform}}</td>
                        <td class="main__table-content-row-column">
                            <input class="main__table-content-row-column-deletebtn" type="button"
                                (click)="deletionPopup(stud)" value="Удалить">
                        </td>
                        <td class="main__table-content-row-column">
                            <input class="main__table-content-row-column-editbtn" type="button"
                                (click)="editionPopup(stud)" value="Редактировать">
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div class="main__add"><input type="button" (click)="additionPopup()" value="Добавить студента"></div>
</div>
<app-edit-func [stud]="info" [formEditInput]="formEdit" (editEvent)="editOut($event)" (fEditEvent)="fEdit($event)"
    (cEditEvent)="cEdit($event)"></app-edit-func>
<app-deletion-func [formDelInput]="formDelete" (cDeleteEvent)="cDelete($event)" (fDeleteEvent)="fDelete($event)">
</app-deletion-func>
<app-add-func [formAddInput]="formAdd" (addEvent)="addOut($event)" (fAddEvent)="fAdd($event)"
    (cAddEvent)="cAdd($event)"></app-add-func>
